
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #212227;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

body {
    background: #eee;
    background: url("images/FTO-Background.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    text-align: center;
}

.nav-bar {
    height: 100px;
    width: 100%;
    background: #757D8A;
    display: flex;
    position: fixed;
    z-index: 500;
    top: 0;
    color: #FFFFFF;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.nav-bar h1 {
    font-size:2.3em;
    font-weight: 600;
    letter-spacing: 3px;
    height: 50px;
    width: 50%;
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #212227;
}

.nav-bar-item {
}

.title-subtext {
    flex-grow: 1;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
  }
  
  .flex-item {
    background: #D9D9D9;
    width: 400px;
    height: 600px;
    padding: 10px;
    margin: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .animation {
    width: 350px;
    height: 350px;
    border-radius: 7px;
  }

  .cover {
    width: 350px;
    height: 350px;
    position: absolute;
    margin-top: -147px;
    border-radius: 7px;
  }

  .flex-item:hover .cover{
    opacity: 0;
    display: none;
  }

  h1 {
    width:100%;
  }

  h2 {
    width: 100%;
  }

  .description {
    padding-top: 30px;
    width: 80%;
  }